<table>
    <tr>
        <th>Rubro</th>
        <th>Valor</th>
        <th>Día del compromiso</th>
    </tr>
    <tr>
        <td>Arriendo</td>
        <td>$1'000.000</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Mercado</td>
        <td>$450.000</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Créditos</td>
        <td>$500.000</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Telefonía fija, celular e internet</td>
        <td>$150.000</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Servicios</td>
        <td>$200.000</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Planes complementarios de salud</td>
        <td>$80.000</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Gastos de transporte</td>
        <td>$300.000</td>
    </tr>
    <tr>
        <td>Otros pagos</td>
        <td>$200.000</td>        
        <td>30</td>
    </tr>
</table>