<table>
    <tr>
        <th>Rubro</th>
        <th>Valor</th>
        <th>Día del movimiento</th>
    </tr>
    <tr>
        <td>Salario fijo</td>
        <td>$4'000.000</td>
        <td>28</td>
    </tr>
    <tr>
        <td>Asesorias y proyectos académicos</td>
        <td>$1'000.000</td>
        <td>30</td>

    </tr>
    <tr>
        <td>Asesorías y proyectos profesionales</td>
        <td>$1'500.000</td>
        <td>30</td>
    </tr>
    <tr>
        <td>Otros ingresos</td>
        <td>$500.000</td>        
        <td>30</td>
    </tr>
</table>