<form action="" method="post" name="FormEntrar">
    <div>
      <span id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="email" name="correo" placeholder="Correo" id="Correo" aria-describedby="sizing-addon1" required />
    </div>
    <br />
    <div>
      <span id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" name="contra" placeholder="*******" aria-describedby="sizing-addon1" required />
    </div>
    <br />
    <button type="submit">Entrar</button>
    <br>
    
  </form>