<table>
    <tr>
        <th>Meta u objeto</th>
        <th>Valor</th>
        <th>Prioridad</th>
        <th>Fecha deseada</th>
        <th>Fecha proyectada</th>
        <th>Descripción o proposito</th>
    </tr>
    <tr>
        <td>Carro</td>
        <td>$54'000.000</td>
        <td>Baja</td>
        <td>2022-12-01</td>
        <td></td>
        <td>Facilitar el desplazamiento de mi familia y para visitar ciudades.</td>
    </tr>
    <tr>
        <td>iPad Pro</td>
        <td>$10'000.000</td>
        <td>Media</td>
        <td>2021-12-01</td>
        <td></td>
        <td>Herramienta de trabajo para potenciar la productividad.</td>
    </tr>
    <tr>
        <td>Viaje internacional</td>
        <td>$8'500.000</td>
        <td>Baja</td>
        <td>2022-06-01</td>
        <td></td>
        <td>Conocer países y consolidar la unión y el crecimiento personal de los miembros de la familia.</td>
    </tr>
</table>