<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<form action="" method="post" name="FormEntrar" action="#" target="_blank">
    <div>
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" placeholder="Ingrese su Nombre">
    </div>
    <div>
        <label for="email">Correo</label>
        <input type="text" name="email" id="email" placeholder="Ingrese su Correo">
    </div>
    <div>
        <label for="usuername">Usuario</label>
        <input type="text" name="usuario" id="usuario" placeholder="Ingrese su Usuario">
    </div>
    <div>
        <label for="contraseña">Contraseña</label>
        <input type="text" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
    </div>
  </form>
  <br>
  <button type="submit">Crear Usuario</button>
</body>
</html>